#root {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body{
  background-color: white;
  color: black;
  position: relative;
}

header{
  background-color: rgb(49, 4, 100);
  text-align: center;
  padding: 20px;
  color: white;
}

header h1{
  margin: 10px;
}

header nav{
  margin-top: 30px;
}

nav a{
  color: rgb(255, 255, 255);
}

a:hover{
  color: rgb(222, 188, 252);
  transition: 0.5s;
}

main{
  padding: 40px;
  height: 100vh;
}

footer{
  background-color: rgb(73, 73, 73);
  color: white;
  padding: 20px;
  margin-top: 20px;
  position: relative;
}



.products_title{
  display: block;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: rgb(49, 4, 100);
}

.product{
  display: inline-block;
  background-color: rgb(234, 213, 252);
  margin: 10px;
  padding: 15px;
  border: 5px solid rgb(49, 4, 100);
  border-radius: 5px;
  color: black;
  width: 40%;
}

button{
  background-color: rgb(49, 4, 100);
  color: rgb(172, 25, 25);
  margin: 10px;
}

button:hover{
  background-color: rgb(105, 11, 212);
  transition: 1s;
  color: white;
}

.botao{
  color: white;
}


.form_item{
  margin: 10px;
  width: 50vh;
  height: 5vh;
  
}

img{
  width: 50vh;
}

